name: SpatGRIS Linux build 
on:
  push:
    branches: ['dev']
  pull_request:
    branches: ['dev']
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: download JUCE
        run: curl -L https://github.com/juce-framework/JUCE/releases/download/6.1.4/juce-6.1.4-linux.zip --output JUCE.zip
      - name: unpack JUCE
        run: unzip JUCE.zip
      - name: install dependencies
        run: sudo apt-get update && sudo apt-get install -y clang++-10 ladspa-sdk freeglut3-dev libasound2-dev libcurl4-openssl-dev libfreetype6-dev libx11-dev libxcomposite-dev libxcursor-dev libxinerama-dev libxrandr-dev mesa-common-dev libjack-dev
      - name: set global JUCE search paths
        run: JUCE/Projucer --set-global-search-path linux defaultJuceModulePath /home/runner/work/SpatGRIS/SpatGRIS/JUCE/modules
      - name: generate makefile
        run: cd JUCE && ./Projucer --resave ../SpatGRIS.jucer
      - name: compile SpatGRIS
        run: cd Builds/LinuxMakefile && make CXX=clang++-10 CONFIG=Release -j 8
